@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,400;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    font-family: "Roboto", sans-serif;
}


.max-width{
    max-width: 1200px;
    padding: 0px 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 7px 0;
    font-family: "Roboto", sans-serif;
    z-index: 999;
}

.navbar.sticky{
    padding: 7px 0;
    background-color: rgb(255, 255, 255);
}

.navbar .logo a.sticky{
    color: rgb(0, 0, 0);
}

.navbar .menu li a.sticky{
    color: black;
}

.navbar .menu.sticky{
    background-color: rgb(255, 255, 255);
}


.dark-menu-btn.sticky{
    display: none;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
    opacity: 100%;
}
.navbar .menu li a:hover{
    color: magenta;
    transition: all 0.2s linear;
}

.navbar .icon{
    display: none;
    position: fixed;
}
/* Menu Button */
.menu-btn{
    cursor: pointer;
}

.dark-menu-btn{
    cursor: pointer;
}

.typewrite{
    font-size: 30px;
}

@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
  
  
  .sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    letter-spacing: 5;
    left: 50%;
    top: 42%;
    font-family: "Clip";
    text-transform: uppercase;
    line-height: 1rem;
    margin-bottom: 60px;
    font-size: 4.5em;   
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem gray, 0 0 1.5rem gray,
        -0.2rem 0.1rem 1rem gray, 0.2rem 0.1rem 1rem gray,
        0 -0.5rem 2rem gray, 0 0.5rem 3rem #ffffff;
    }
    28%,
    33% {
      color: #888888;
      text-shadow: none;
    }
    82%,
    97% {
      color: #999999;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem gray, 0 0 1.5rem gray,
        -0.2rem 0.1rem 1rem gray, 0.2rem 0.1rem 1rem gray,
        0 -0.5rem 2rem gray, 0 0.5rem 3rem #ffffff;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }


.Home{
    display: flex;
    height: 100vh;
    min-height: 500px;
    max-height: 850px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url("images/GRADIENT2.jpg");
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.Home .home-content .text-1{
    font-family: "Roboto", sans-serif;
    color: pink;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 150px;
}

.Home .home-content .Button-1,
.Home .home-content .Button-2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    height: 30px;
    width: 90px;
    font-size: 13px;
    font-weight: 500;
    border: 2.6px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.Home .home-content .Button-1:hover,
.Home .home-content .Button-2:hover{
    border: 2.6px solid pink;
    color: pink;
}

section{
    padding: 100px 0;
}


.about{
    background: url("/images/banner-5.jpg");
    background-position: center;
    background-size: cover;
}


.about .about-content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.about .about-content .left{
    width: 45%;
}


.about .about-content .left img{
    max-width: 1500px;
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 30px;
    border: solid 3px rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 pink, 0 6px 20px 0 pink;
}



.about .about-content .right{
    width: 55%;
}


.about .about-content .right .text{
    font-weight: 500;
}



.about .about-content .right .text span{
    color: pink;
    margin-left: 5px;
}


.about .about-content .head{
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    color: white;
    font-weight: 400;
}



.about .about-content .text{
    display: flex;
    position: relative;
    justify-content: left;
}



.about .about-content .right .text{
    margin-bottom: 10px;
}
.about .about-content .right p{
    font-size: 16px;
    line-height: 1.5rem;
    text-align: justify;
    font-weight: 200;
    color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.about .about-content .box{
    display: flex;
    align-items: center;
    background: pink;
    height: 48px;
    width: 1105px;
    margin-top: -205px;
    border-radius: 5px;
}

.about .about-content .right a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
    height: 40px;
    width: 130px;
    font-weight: 200;
    border: 1px solid gray;
    color: gray;
    border-radius: 8px;
}

.about .about-content .right a:hover{
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
    border-radius: 8px;
}




.container{
    position: relative;
    max-width: 500px;
    width: 50%;
    margin: -520px 900px;
    font-family: "Roboto", sans-serif;
    z-index: 1;
}

.container .skill-box{
    width: 80%;
    margin: 25px 0;
}

.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.skill-box .skill-bar{
    height: 10px;
    width: 80%;
    border-radius: 6px;
    background: rgba(0,0,0,0.1);

}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    animation: progress 2.5s ease-in-out forwards;
    opacity: 0;
}

.skill-per.photoshop{
    background-color: pink;
    width: 90%;
    animation-delay: 3.5s;
}

.skill-per.html{
    background-color: pink;
    width: 85%;
    animation-delay: 3.5s;
}

.skill-per.css{
    background-color: pink;
    width: 82%;
    animation-delay: 3.5s;
}

.skill-per.javascript{
    background-color: pink;
    width: 30%;
    animation-delay: 3.5s;
}

.skill-per.programmingbasics{
    background-color: pink;
    width: 78%;
    animation-delay: 3.5s;
}

.skill-per.computersytems{
    background-color: pink;
    width: 86%;
    animation-delay: 3.5s;
}

@keyframes progress{
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.skill-per .tooltip{
   position: absolute;
   right: -14px;
   top: -28px;
   font-size: 9px;
   font-weight: 500;
   color: white;
   padding: 2px 6px;
   border-radius: 3px;
   background-color: rgb(0, 0, 0);
   z-index: 1;
}

.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    transform: translateX(-50%) rotate(45deg);
}

.product .text{
    position: relative;
    color: pink;
    font-size: 30px;
    font-weight: 600;
}

.skill{
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.skill .skill-content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skill .skill-content .left{
    width: 45%;
}

.skill .skill-content .left .text{
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 70px;
}

.skill .skill-content .left .text span{
    color: pink;
}

.skill .skill-content .left p{
    margin-bottom: 90px;
    line-height: 1.75rem;
    font-size: 16px;
    text-align: justify;
    font-weight: 200;
    color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: 95%;
}



.Locate{
    display: flex;
    background-size: cover;
    margin-top: 600px;
}

.Locate .locate-content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.Locate .locate-content .right{
    flex-basis: calc(50% - 30px);
}

.Locate .locate-content .left .heading{
    display: none;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 40px;
    margin-left: 20px;
}

.Locate .locate-content .left .heading span{
    color: pink;
}

.Locate .locate-content .right p{
    flex-wrap: wrap ;
    text-align: justify;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5rem;
    width: 100%;
    margin-top: 30px;
    color: gray;
    margin-left: 0px;
}

.Locate .locate-content .right p span{
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    margin-top: 130px;
    color: rgb(0, 0, 0);
}

.Locate .locate-content .right .Button-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
    height: 40px;
    width: 130px;
    font-weight: 200;
    border: 1px solid gray;
    color: gray;
    border-radius: 8px;

}

.Locate .locate-content .right .Button-1:hover{
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
    border-radius: 8px;

}

.Locate .locate-content .left{
    flex-basis: calc(50% - 30px);
}

.Locate .locate-content .left img{
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

.Locate2{
    display: flex;
    background-size: cover;
    margin-top: 100px;
}

.Locate2 .locate-content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.Locate2 .locate-content .left{
    flex-basis: calc(50% - 30px);
}

.Locate2 .locate-content .left p{
    flex-wrap: wrap ;
    text-align: justify;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5rem;
    width: 100%;
    margin-top: 30px;
    color: gray;
}

.Locate2 .locate-content .left p span{
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    margin-top: 130px;
    color: rgb(0, 0, 0);
}

.Locate2 .locate-content .left .Button-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
    height: 40px;
    width: 130px;
    font-weight: 200;
    border: 1px solid gray;
    color: gray;
    border-radius: 8px;

}

.Locate2 .locate-content .left .Button-1:hover{
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
    border-radius: 8px;

}

.Locate2 .locate-content .right{
    flex-basis: calc(50% - 30px);
}

.Locate2 .locate-content .right img{
    height: 100%;
    width: 100%;
}


.Locate3{
    display: flex;
    background-size: cover;
}

.Locate3 .locate-content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.Locate3 .locate-content .right{
    flex-basis: calc(50% - 30px);
}

.Locate3 .locate-content .left .heading{
    display: none;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 40px;
    margin-left: 20px;
}

.Locate3 .locate-content .left .heading span{
    color: pink;
}

.Locate3 .locate-content .right p{
    flex-wrap: wrap ;
    text-align: justify;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5rem;
    width: 100%;
    margin-top: 30px;
    color: gray;
}

.Locate3 .locate-content .right p span{
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    margin-top: 130px;
    color: rgb(0, 0, 0);
}

.Locate3 .locate-content .right .Button-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
    height: 40px;
    width: 130px;
    font-weight: 200;
    border: 1px solid gray;
    color: gray;
    border-radius: 8px;

}

.Locate3 .locate-content .right .Button-1:hover{
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
    border-radius: 8px;

}

.Locate3 .locate-content .left{
    flex-basis: calc(50% - 30px);
}

.Locate3 .locate-content .left img{
    height: 100%;
    width: 100%;
}
.Locate4{
    display: flex;
    background-size: cover;
    margin-top: 100px;
}

.Locate4 .locate-content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.Locate4 .locate-content .left{
    flex-basis: calc(50% - 30px);
}

.Locate4 .locate-content .left p{
    flex-wrap: wrap ;
    text-align: justify;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5rem;
    width: 100%;
    margin-top: 30px;
    color: gray;
}

.Locate4 .locate-content .left p span{
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    margin-top: 130px;
    color: rgb(0, 0, 0);
}

.Locate4 .locate-content .left .Button-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
    height: 40px;
    width: 130px;
    font-weight: 200;
    border: 1px solid gray;
    color: gray;
    border-radius: 8px;

}

.Locate4 .locate-content .left .Button-1:hover{
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
    border-radius: 8px;

}

.Locate4 .locate-content .right{
    flex-basis: calc(50% - 30px);
}

.Locate4 .locate-content .right img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


.contact{
    background-size: cover;
    background-attachment: scroll;
    background-color: rgb(248, 248, 248);
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .title{
    text-align: center;
    font-size: 38px;
    padding-bottom: 50px;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .column .text{
    color: black;
    font-size: 45px;
    font-weight: 200;
    margin: 10px 0;
}

.contact .contact-content .column .text span{
    color: pink;
    font-size: 45px;
    font-weight: 200;
    margin: 60px 0;
}


.contact .contact-content .column .heading{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;
}

.contact .contact-content .column .heading span{
    color: pink;
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 70px;
    align-items: justify;
}

.contact .contact-content .left{
    margin-top: -0.6px;
    margin-bottom: 22px;
    margin-left: -35px;
}

.contact .contact-content .right{
    margin-top: -0.6px;
    margin-bottom: 22px;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .info .head{
    color: rgb(85, 7, 123);
    font-weight: 600;
    padding: 5px 0;
}
.contact .contact-content .info .Button{
    background-color: pink;
    border-radius: 999px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
    padding: 10px;
}

.contact .contact-content .info .Button:hover{
    transition: all 1s ease;
    background-color: white;
    color: black;
}

.contact .contact-content .info .sub-title:hover{
    font-size: 20px;
    background-color: magenta;
}
.contact .right form .fields{
    display: block;  
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}
.contact .right form .textarea{
    height: 250px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 0px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline: none;
    padding: 0 15px;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: pink;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 50px;
    width: 180px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    background: pink;
    border: 2px solid pink;
    outline: none;
    color:white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}
.contact .right form .button button:hover{
    color: white;
    border: 2px solid magenta;
    background: magenta;
}

.jar{
    max-width: 1170px;
    margin: auto;
}
.rowwer{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: white;
    padding: 45px 0;
}
.footer-col{
    width: 25%;
    padding: 0 10px;
}

.footer-col h4{
    font-family: 'Montesserat', sans-serif;
    font-size: 18px;
    color: magenta;
    text-transform: capitalize;
    margin-left: 5px;
    margin-bottom: -20px;
    font-weight: 600;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: pink;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.each{
    width: 25%;
    padding: 0 10px;
}

.each h4{
    font-family: 'Montesserat', sans-serif;
    font-size: 18px;
    color: magenta;
    text-transform: capitalize;
    margin-left: 156px;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
}

.each h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: pink;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col .Quote{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    color: rgb(129, 126, 126);
    margin-bottom: 27px;
}

.footer-col .copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    margin-top: 90px;
    margin-left: 350px;
    width: 100%;
    color: rgb(161, 159, 159);
    width: 520px;
}

.footer-col .sentence{
    width: 100%;
    display: flex;
    margin-top: 75px;
    color: #6a6666;
    width: 400px;
    font-size: 17px;
}

.each .info{
    font-size: 14px;
    width: 100%;
    color: rgb(106, 104, 104);
    margin-left: 156px;
    margin-bottom: 10px;
}

.each .info-1{
    font-size: 14px;
    width: 100%;
    color: rgb(106, 104, 104);
    margin-left: 156px;
    margin-bottom: 15px;
}

.each .info-2{
    font-size: 14px;
    width: 100%;
    color: rgb(106, 104, 104);
    margin-left: 156px;
    margin-bottom: 15px;
}

.each .info-3{
    font-size: 14px;
    width: 100%;
    color: rgb(106, 104, 104);
    margin-left: 156px;
    margin-bottom: 15px;
}

.each .ul a:hover{
    color: rgb(0, 0, 0);
}
.each .social-link a{
    display: inline-block;
    height: 35px;
    width: 130px;
    margin-left: 156px;
    line-height: 40px;
    color: rgb(106, 104, 104);
    transition: all 0.8s ease;
}
.each .social-link a:hover{
    margin-left: 167px;
    color: #0f0f0f;
}

.each .ul a{
    display: inline-block;
    height: 35px;
    width: 130px;
    margin-left: 156px;
    line-height: 40px;
    color: rgb(153, 153, 153);
    transition: all 0.8s ease;
}
.each .ul a:hover{
    color: #0f0f0f;
}


/* Responsive Media Query */
@media (max-width: 1920px){
    .home .max-width{
        margin-left: 0px;
    }
    .menu-btn{
        display: none;
        z-index: 999;
    }

    .dark-menu-btn{
        display: none;
        z-index: 999;
    }
}
@media (max-width: 1104px){

    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .menu-btn{
        display: none;
        z-index: 999;
    } 

    .dark-menu-btn{
        display: none;
        z-index: 999;
    }
}

@media (min-width: 1020px) {
    .container{
        margin: -520px 650px;
        width: 50%;
    }
    
    .menu-btn{
        display: none;
        z-index: 999;
    } 

    .dark-menu-btn{
        display: none;
        z-index: 999;
    }
}
/*mobile/Tablet*/
@media (max-width: 1020px) {

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .dark-menu-btn{
        display: block;
        z-index: 999;
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 70%;
        left: -100%;
        top: 0;
        background: rgb(180, 180, 180);
        opacity: 90%;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
            height: 50px;
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 10px;
    }

    .navbar .menu li a:hover{
        display: flex;
        color: pink;
    }

    .navbar .icon{
        display: block;
        position: relative;
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .typewrite{
        font-size: 20px;
        margin-bottom: 150px;
    }
    

    .max-width{
        padding: 0px 40px;
    }

    .Home .home-content .text-1{
        font-size: 25px;
        margin-top: 30px;
    }

    .Home .home-content .text-2{
        font-size: 45px;
    }

    .Home .home-content .text-3{
        font-size: 28px;
    }

    .Home .home-content .Button-1,
    .Home .home-content .Button-2{
        display: none;
    }

    .sign{
        font-size: 35px;
    }

    .about .about-content .left img{
        height: 270px;
        width: 270px;
        margin-bottom: 40px;
    }

    .about .about-content .right a{
        margin: 10px 60px;
    }

    .about .about-content .right p{
        text-align: justify;
        width: 180%;
        line-height: 1.5rem;
        margin-bottom: 20px;
    }

    .skill .skill-content .left p{
        text-align: justify;
        width: 210%;
        line-height: 1.5rem;
    }

    .container{
        margin: -100px 35px;
        width: 90%;
    }

    .Locate{
        margin-top: 200px;
    }

    .Locate .locate-content .left,
    .Locate .locate-content .right{
        flex-basis: 100%;
    }


    .Locate .locate-content .right .Button-1{
        margin: 20px 80px;
    }

       /*Locate2*/

    .Locate2 .locate-content .left{
        flex-basis: 100%;
        order: 2;
    }
    .Locate2 .locate-content .right{
        flex-basis: 100%;
        order: 1;
    }
    
    .Locate2 .locate-content .left .Button-1{
        margin: 20px 80px;
    }
    

    .Locate3 .locate-content .left,
    .Locate3 .locate-content .right{
        flex-basis: 100%;
    }
    
    .Locate3 .locate-content .right .Button-1{
        margin: 20px 80px;
    }


       /*Locate2*/

       .Locate4 .locate-content .left{
        flex-basis: 100%;
        order: 2;
    }
    .Locate4 .locate-content .right{
        flex-basis: 100%;
        order: 1;
    }
    
    .Locate4 .locate-content .left .Button-1{
        margin: 20px 80px;
    }

    
    .contact .title{
        text-align: center;
        font-size: 40px;
        padding-bottom: 50px;
    }
    
    .contact .contact-content .column{
       flex: calc(50% - 30px);
    }
    
    .contact .contact-content .column .text{
        color: black;
        font-size: 30px;
        font-weight: 200;
        margin: 10px 0;
    }
    
    .contact .contact-content .column .text span{
        color: pink;
        font-size: 30px;
        font-weight: 200;
        margin: 60px 0;
    }
    
    
    .contact .contact-content .column .heading{
        text-align: center;
        flex-wrap: wrap;
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: 600;
        margin-left: 40px;
    }

    .contact .contact-content .left p{
        text-align: justify;
        margin-left: 40px;
    }
    
    .contact .contact-content .column .heading span{
        color: pink;
        font-size: 25px;
        font-weight: 600;
        margin: 10px 0;
    }
    
    .contact .contact-content .info .Button{
        display: inline-flex;
        float: left;
        width: 100%;

    }
    
    .contact .contact-content .left{
        flex-basis: 100%;
    }
    
    .contact .contact-content .right{
        flex-basis: 100%;
        margin-top: 100px;
    }

    .contact .right form .field,
    .contact .right form .fields .field{
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
    }
    .contact .right form .textarea{
        height: 250px;
        width: 100%;
    }
    .contact .right form .email{
        margin-left: 0px;
    }


.jar{
    max-width: 1170px;
    margin: auto;
}
.rowwer{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: white;
    padding: 45px 0;
}
.footer-col{
    width: 25%;
    padding: 0 10px;
}

.footer-col h4{
    font-family: 'Montesserat', sans-serif;
    font-size: 18px;
    color: magenta;
    text-transform: capitalize;
    margin-left: 5px;
    margin-bottom: -20px;
    font-weight: 600;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: pink;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.each{
    width: 25%;
    padding: 0 10px;
}

.each h4{
    font-family: 'Montesserat', sans-serif;
    font-size: 18px;
    color: magenta;
    text-transform: capitalize;
    margin-left: 156px;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
}

.each h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: pink;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col .Quote{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    color: rgb(129, 126, 126);
    margin-bottom: 27px;
}

.footer-col .copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    margin-top: 90px;
    margin-left: 350px;
    width: 100%;
    color: rgb(161, 159, 159);
    width: 520px;
}

.footer-col .sentence{
    width: 100%;
    display: flex;
    margin-top: 75px;
    color: #6a6666;
    width: 400px;
    font-size: 17px;
}

.each .info{
    font-size: 14px;
    width: 100%;
    color: rgb(106, 104, 104);
    margin-left: 156px;
    margin-bottom: 10px;
}

.each .info-1{
    font-size: 14px;
    width: 100%;
    color: rgb(106, 104, 104);
    margin-left: 156px;
    margin-bottom: 15px;
}

.each .info-2{
    font-size: 14px;
    width: 100%;
    color: rgb(106, 104, 104);
    margin-left: 156px;
    margin-bottom: 15px;
}

.each .info-3{
    font-size: 14px;
    width: 100%;
    color: rgb(106, 104, 104);
    margin-left: 156px;
    margin-bottom: 15px;
}

.each .ul a:hover{
    color: rgb(0, 0, 0);
}
.each .social-link a{
    display: inline-block;
    height: 35px;
    width: 130px;
    margin-left: 156px;
    line-height: 40px;
    color: rgb(106, 104, 104);
    transition: all 0.8s ease;
}
.each .social-link a:hover{
    margin-left: 167px;
    color: #0f0f0f;
}

.each .ul a{
    display: inline-block;
    height: 35px;
    width: 100%;
    line-height: 40px;
    color: rgb(153, 153, 153);
    transition: all 0.8s ease;
}
.each .ul a:hover{
    color: #0f0f0f;
}


}

@media (min-width: 641px) {
    .about .about-content .right p{
        display: flex;
        width: 100%;
    }
}
